<% content_for :title, "My Brags" %>

<div class="container mx-auto px-6 pb-10">
  <nav class="mb-6">
    <%= link_to "← Back", quests_path, data: { testid: "back-to-quests-btn" }, class: "text-lg text-sky-600 hover:text-sky-800 font-medium transition" %>
  </nav>

  <h1 data-testid="title-brag-name" class="text-4xl min-lg:text-5xl font-extrabold text-amber-900 mb-8">Oat (2025)</h1>

  <div class="grid gap-8">

    <div class="bg-white rounded-2xl shadow-md p-6">
      <h2 class="text-2xl max-sm:text-xl font-semibold text-gray-800 mb-4">🎯 Goal of 2025</h2>
      <ul class="list-disc list-inside space-y-2 text-md max-sm:text-sm text-gray-700">
        <li>เรียนรู้ Technology Stack ที่ใช้ในการทำงานจริงเพิ่มเติม</li>
        <li>เพิ่ม Soft Skills ที่ทำให้ทำงานกับทีมได้มีประสิทธิภาพมากขึ้น</li>
        <li>เตรียมความพร้อมในการทำโปรเจคจริง</li>
        <li>วิ่ง 10 กิโลเมตร ใน 1 ชม.</li>
      </ul>
    </div>

    <div class="bg-white rounded-2xl shadow-md p-6">
      <h2 class="text-2xl max-sm:text-xl font-semibold text-gray-800 mb-4">💡 Self</h2>
      <ul class="list-disc list-inside space-y-2 text-md max-sm:text-sm text-gray-700">
        <li>เรียนรู้ Technology Stack ที่ยังไม่เคยใช้หรือไม่ถนัด วันละ 2 ชม.</li>
        <li>ออกกำลังกายวันละ 30 นาที</li>
      </ul>
    </div>

    <div class="bg-white rounded-2xl shadow-md p-6">
      <h2 class="text-2xl max-sm:text-xl font-semibold text-gray-800 mb-4">🤝 Team</h2>
      <ul class="list-disc list-inside space-y-2 text-md max-sm:text-sm text-gray-700">
        <li>เพิ่มทักษะการสื่อสารกับทีม จากการเรียนและการทำงานจริง</li>
        <li>เพิ่มคำศัพท์ทางด้านเทคโนโลยี เพื่อทำให้สื่อสารกับทีมได้ง่ายขึ้น วันละ 5 คำ</li>
      </ul>
    </div>

    <div class="bg-white rounded-2xl shadow-md p-6">
      <h2 class="text-2xl max-sm:text-xl font-semibold text-gray-800 mb-4">🚀 ODT</h2>
      <ul class="list-disc list-inside space-y-2 text-md max-sm:text-sm text-gray-700">
        <li>เว็บไซต์ ODT-Trainning มีลูกค้ามาใช้งาน และสร้าง Value ให้กับ ODDS ได้จริง</li>
        <li>เว็บไซต์ ODT-Trainning เป็น Community หลักของพนักงานใน ODDS</li>
      </ul>
    </div>
  </div>
</div>
