<div class="flex-1">
<h1>Oat (2025)</h1>
<div>
<h2>Goal of 2025</h2>
<ul>
    <li>เรียนรู้ Technology Stack ที่ใช้ในการทำงานจริงเพิ่มเติม</li>
    <li>เพิ่ม Soft Skills ที่ทำให้ทำงานกับทีมได้มีประสิทธิภาพมากขึ้น</li>
    <li>เตรียมความพร้อมในการทำโปรเจคจริง</li>
    <li>วิ่ง 10 กิโลเมตร ใน 1 ชม.</li>
</ul>
</div>
<div>
<h2>Self</h2>
<ul>
    <li>เรียนรู้ Technology Stack ที่ยังไม่เคยใช้หรือไม่ถนัด วันละ 2 ชม.</li>
    <li>ออกกำลังกายวันละ 30 นาที</li>
</ul>
</div>
<div>
<h2>Team</h2>
<ul>
    <li>เพิ่มทักษะการสื่อสารกับทีม จากการเรียนและการทำงานจริง</li>
    <li>เพิ่มคำศัพท์ทางด้านเทคโนโลยี เพื่อทำให้สื่อสารกับทีมได้ง่ายขึ้น วันละ 5 คำ</li>
</ul>
</div>
<div>
<h2>ODT</h2>
<ul>
    <li>เว็บไซต์ ODT-Trainning มีลูกค้ามาใช้งาน และสร้าง Value ให้กับ ODDS ได้จริง</li>
    <li>เว็บไซต์ ODT-Trainning เป็น Community หลักของพนักงานใน ODDS</li>
</ul>
</div>